{% extends 'seekera/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block background %} {% endblock %}
{% block body %}

<!doctype html>
<html lang="en">

<!-- create-resume41:12-->
<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>Opportuna</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="{% static 'seekera/jobportal/assets/plugins/css/plugins.css' %}">

    <!-- Custom style -->
    <link href="{% static 'seekera/jobportal/assets/css/style2.css' %}" rel="stylesheet">
	<link type="text/css" rel="stylesheet" id="jssDefault" href="{% static 'seekera/jobportal/assets/css/colors/blue-style.css' %}">

	</head>
<style>
	.detail-pannel-footer-btn a.footer-btn.choose-cover {
    background: #0d6efd;
}
.custom-file-label::after {
    content: "Browse";
}
</style>
	<body>
        <div class="clearfix"></div>

        <!-- Header Title Start -->
        <section class="inner-header-title blank">
            <div class="container">
                <h1>Create Account as Student</h1>
            </div>
        </section>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="detail-desc section">
                <div class="container white-shadow" style="width: 50% !important;">
                    <div class="mt-3">

                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <strong>{{ field.label|capfirst }} {{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissable">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% for field in form %}
                            <div class="">
                              {% if field.name == 'gender' %}
                              <div class="row form-group mb-4">
                                <div class="col-md-12 mb-3 mb-md-0">
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="male gender" value="1">
                                    <label class="form-check-label" for="male">Male</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="female" value="2">
                                    <label class="form-check-label" for="female">Female</label>
                                  </div>
                                </div>
                              </div>

                              {% else %}

                              <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                  <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                                  <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                                    id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
                                </div>
                              </div>

                              {% endif %}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-success btn-primary small-btn">Submit!!</button>

                </div>
            </div>
        </form>

    </body>





      {% endblock %}